/* Supports screens with midth of a minimum of 316px */
header{
    background-color: #73956f;
    color: #f7f7f7;
}

h1 {
    text-align: center;
}


.image-container {
    position: relative;
    width: 100%; 
    height: 120px;
  }
  
  .no-image-message {
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: #ddd; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555; 
    border-radius: 5px;
  }


.new-game-form {
    display: block;
    margin: 10px;
    width: 80%;
    max-width: 1000px;
    min-width: 244px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px auto;
    padding: 5px;
}

.games-store {
    margin: 0 auto;
    text-align: center;
    width: 850px;
    
}
.games-store ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

  .games-store li {
    padding: 5px;
  }


  .description-box {
    width: 225px; 
    height: 80px; 
    overflow-y: auto; /* Enable vertical scrolling when necessary */
    border: 1px solid #ccc;
    padding: 5px;
    white-space: normal; /* Allow text to wrap */
  }
  

.single-game {
    display: inline-block;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 235px;
    height: 370px;
    padding: 10px;
    text-align: left;
    overflow: hidden; /* Add this property to hide overflowing content */
}

.single-game img {
    display: block;
    margin: 0 auto; /* center the image */
    max-width: 100%;
    max-height: 100%;
    min-height: 80%;
    border-radius: 5px;
}

.single-game button {
    display: block; /* Display buttons as block-level elements */
    margin: 5px 0; 
    background: #73956f;
    color: #f7f7f7;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


.single-game p {
    margin: 5px 0; /* Add spacing between paragraphs */
}

section {
    width: 1fr;
}


/* below is Form info */

.new-contact-form {
    border-bottom: 3px solid #73956f;
    padding: 25px 0;
  }
  
  .new-contact-form h2 {
    margin: 0;
  }
  
  form input,
  form label,
  form textarea {
    box-sizing: border-box;
    display: block;
    margin: 5px 0;
    width: 100%;
  }
  
  form input,
  form textarea {
    border: 1px solid #73956f;
    padding: 8px;
  }

.form-row {
    display: flex;
    justify-content: space-between;
}



.rating-options {
    display: flex;
    align-items: center;
}

.rating-options label {
    display:inline;    
    align-items: center;
    margin-right: 10px; /* Add some spacing between the radio buttons and labels */
    width: 100px;
}

.rating-options input[type="radio"] {
    margin-right: 5px; /* Add spacing between radio buttons and labels */
    width: auto;
}
  

form 
form button[type="submit"],
button {
  background: #73956f;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px;
}

  form button[type="submit"]:hover,
  button:hover {
    background: blue;
  }
  .in-stock form button[type="submit"]:hover,
  button:hover {
    background:blue;
  }


  @media (max-width: 1020px) {
    .games-store ul {
      grid-template-columns: repeat(3, 1fr);
    }
    .games-store {
        text-align: center;
        width: 620px;
        
    }
  }
  
  @media (max-width: 790px) {
    .games-store ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .games-store {
        text-align: center;
        width: 520px;
        
    }
  }
  @media (max-width: 500px) {
    .games-store ul {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 30px;
    }
    .games-store {
        text-align: center;
        width: 300px;
        
    }
  }